:root {
  --color-font-dark: #262626;
  --color-font-bright: #f6f6f6;
  --color-font-gray: #5d5d5d;
  --color-primary: #424242;
  --color-background: #e7e7e7;
  --color-safe: #73ac36;
  --color-warning: #ffc020;
  --color-danger: #db2a27;
  --color-primary-50: #f6f6f6;
  --color-primary-100: #e7e7e7;
  --color-primary-200: #d1d1d1;
  --color-primary-300: #b0b0b0;
  --color-primary-400: #888888;
  --color-primary-500: #6d6d6d;
  --color-primary-600: #5d5d5d;
  --color-primary-700: #4f4f4f;
  --color-primary-800: #424242;
  --color-primary-900: #3d3d3d;
  --color-primary-950: #262626;
  --color-red-50: #fef2f2;
  --color-red-100: #fee3e2;
  --color-red-200: #fecbca;
  --color-red-300: #fba8a6;
  --color-red-400: #f77572;
  --color-red-500: #ef5350;
  --color-red-600: #db2a27;
  --color-red-700: #b8201d;
  --color-red-800: #981e1c;
  --color-red-900: #7e201e;
  --color-red-950: #450b0a;
  --color-yellow-50: #fffbeb;
  --color-yellow-100: #fff4c6;
  --color-yellow-200: #ffe688;
  --color-yellow-300: #ffd54f;
  --color-yellow-400: #ffc020;
  --color-yellow-500: #f99e07;
  --color-yellow-600: #dd7602;
  --color-yellow-700: #b75206;
  --color-yellow-800: #943e0c;
  --color-yellow-900: #7a350d;
  --color-yellow-950: #461a02;
  --color-green-50: #f4faeb;
  --color-green-100: #e6f3d4;
  --color-green-200: #cfe9ad;
  --color-green-300: #afd97d;
  --color-green-400: #8bc34a;
  --color-green-500: #73ac36;
  --color-green-600: #588828;
  --color-green-700: #446922;
  --color-green-800: #395420;
  --color-green-900: #32481f;
  --color-green-950: #18270c;
}
