.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
}

.card-isokay {
  width: 30%;
  height: 90%;
  background-color: lightslategray;
  border-radius: 10px;
}

.card-text-wrapper {
  width: 70%;
  height: 90%;
  border: 1px solid gray;
  border-radius: 10px;
}

.card-text-title {
  font-size: 1.5rem;
  padding: 10px;
}

.card-text-description {
  font-size: 1.2rem;
  padding: 10px;
}
