.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 10px;
  min-height: 150px;
  box-sizing: border-box;
  background-clip: border-box;
  margin: 10px;
  position: relative;
  color: var(--color-primary);
}

.card-wrapper:hover {
  background-color: var(--color-background);
}

.card-wrapper.safe {
  outline: 10px solid var(--color-safe);
}

.card-wrapper.warning {
  outline: 10px solid var(--color-warning);
}

.card-wrapper.danger {
  outline: 10px solid var(--color-danger);
}

.card-text-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
}

.card-text-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--color-font-dark);
}

.card-border {
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
}

.card-text-bottom {
  padding: 15px;
}

.card-text-description {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-font-gray);
}
