footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: var(--color-primary-300);
}

.footer-go-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  gap: 20px;
}

.footer-email,
.footer-privacy-policy,
.footer-copyright {
  text-align: center;
  color: var(--color-font-dark);
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: 600;
  text-overflow: clip;
  white-space: nowrap;
  padding: 2px;
}

.footer-privacy-policy:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  footer {
    height: 60px;
  }
}
