footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #e0e0e0;
}

.footer-email-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.footer-email {
  color: #424242;
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: 600;
  text-overflow: clip;
  white-space: nowrap;
}

.footer-copyright {
  color: #424242;
  font-size: 0.7rem;
  font-weight: 600;
  text-overflow: clip;
  white-space: nowrap;
  padding: 2px;
}

@media screen and (min-width: 768px) {
  footer {
    height: 60px;
  }
}
