.main-logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.main-logo {
  background-color: lightcoral;
  /* background-image: url("../../assets/logo.png"); */
  background-size: 250px;
  width: 200px;
  height: 200px;
}

.main-title {
  margin-top: 10px;
  font-size: 3rem;
  font-weight: bold;

  text-overflow: clip;
  white-space: nowrap;
}

.main-description {
  text-align: center;
  font-size: 1rem;
  color: rgb(68, 68, 68);
  font-weight: 300;
  margin-top: 10px;
  text-overflow: clip;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .main-logo {
    width: 150px;
    height: 150px;
  }
}
