.main-logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.main-logo {
  width: 200px;
  height: 200px;
  background-image: url("@assets/logo2.webp");
  background-size: contain;
  background-repeat: no-repeat;
}

.main-description {
  text-align: center;
  font-size: 0.9rem;
  color: var(--color-font-gray);
  font-weight: 600;
  text-overflow: clip;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .main-logo {
    width: 250px;
    height: 250px;
  }
}
