.policy-detail-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  color: var(--color-primary);
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 20px;

  width: 80%;
  min-width: 330px;
  max-width: 700px;
  gap: 20px;
  padding: 20px;
  margin: 25px 0 20px 0;

  border-radius: 10px;
  outline: 10px solid var(--color-primary);
  box-sizing: border-box;
  background-clip: border-box;
}

.policy-detail-content-wrapper h1 {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  color: var(--color-font-dark);
}

.policy-detail-content-wrapper h2 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--color-font-dark);
}

.policy-detail-content-wrapper a {
  text-decoration: underline;
  color: var(--color-font-dark);
}

.policy-detail-content-wrapper a:hover {
  font-weight: 600;
}
