.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 380px;
}

.search-bar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 60px;
  border: 1px solid gray;
  border-radius: 20px;
  margin-top: 30px;
}

.search-bar-wrapper:hover {
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.search-bar-wrapper.isopen {
  border-radius: 0px;
}

.search-bar-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}

.search-bar-input {
  border: none;
  width: 100%;
  margin-left: 20px;
  margin-right: 100px;
  font-size: 1.6rem;
  font-family: "Sunflower", "Spoqa Han Sans", "Roboto", "Inter", sans-serif;
}

.search-bar-input:focus {
  border: none;
  outline: none;
}

.search-bar-button-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: absolute;
  width: fit-content;
  right: 0;
  padding: 5px 15px 5px 15px;
  gap: 10px;
}

.search-bar-input-reset {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}

.search-bar-input-reset.hidden {
  display: none;
}

.search-bar-input-reset:hover {
  background-color: rgb(232, 232, 232);
}

.search-bar-input-reset > svg {
  color: gray;
}

.search-bar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 50%;
}

.search-bar-button:hover {
  background-color: rgb(232, 232, 232);
}

.search-suggestion-wrapper {
  background-color: white;
  border: 1px solid gray;
  border-top: none;
  width: 100%;
  box-sizing: content-box;
}

.search-suggestion {
  cursor: pointer;
  /* border-bottom: 1px solid gray; */
  padding: 5px 5px 5px 25px;
  font-size: 1.3rem;
  font-weight: 300;
}

.search-suggestion.yes {
  background-color: lightgreen;
}

.search-suggestion.no {
  background-color: lightcoral;
}

.search-suggestion:hover {
  text-decoration: underline;
  font-weight: 500;
}

@media screen and (min-width: 767px) {
  .search-wrapper {
    width: 500px;
  }
  .search-bar-wrapper {
    height: 70px;
  }
}
