.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.search-bar-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 500px;
  height: 60px;
  border: 1px solid gray;
  border-radius: 50px;
  margin-top: 30px;
}

.search-bar-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}

.search-bar-input {
  border: none;
  width: 100%;
  margin-left: 25px;
  margin-right: 50px;
  font-size: 1.6rem;
  font-family: "Sunflower", "Spoqa Han Sans", "Roboto", "Inter", sans-serif;
}

.search-bar-input:focus {
  border: none;
  outline: none;
}

.search-bar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 50%;
}

.search-bar-button:hover {
  background-color: rgb(232, 232, 232);
}

.search-suggestion-wrapper {
  background-color: white;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 80%;
}

.search-suggestion {
  cursor: pointer;
  border-bottom: 1px solid gray;
  padding: 5px 5px 5px 15px;
  font-weight: 300;
}

.search-suggestion.yes {
  background-color: green;
}

.search-suggestion.no {
  background-color: red;
}

.search-suggestion:hover {
  text-decoration: underline;
  font-weight: 500;
}

@media (max-width: 767px) {
  .search-wrapper {
    font-size: 0.9rem;
  }
  .search-bar-wrapper {
    width: 300px;
    height: 40px;
  }
  .search-bar-input {
    font-size: 1rem;
    margin-left: 10px;
  }

  .search-bar-button {
    right: 8px;
    width: 28px;
    height: 28px;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .search-wrapper {
    font-size: 1rem;
  }
  .search-bar-wrapper {
    width: 400px;
    height: 50px;
  }
  .search-bar-input {
    margin-left: 15px;
    font-size: 1.2rem;
  }

  .search-bar-button {
    right: 10px;
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .search-wrapper {
    font-size: 1.2rem;
  }
  .search-bar-wrapper {
    width: 450px;
    height: 50px;
  }
  .search-bar-input {
    margin-left: 20px;
    font-size: 1.4rem;
  }

  .search-bar-button {
    right: 12px;
    width: 34px;
    height: 34px;
  }
}
@media (min-width: 1200px) {
  .search-wrapper {
    font-size: 1.4rem;
  }
  .search-bar-wrapper {
    width: 500px;
    height: 60px;
  }
  .search-bar-input {
    margin-left: 25px;
    font-size: 1.6rem;
  }

  .search-bar-button {
    right: 15px;
    width: 38px;
    height: 38px;
  }
}
