.tooltip-wrapper {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
}

.tooltip-box {
  position: absolute;
  background-color: var(--color-primary);
  color: var(--color-font-bright);
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 10;
}

.tooltip-box::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--color-primary) transparent transparent transparent;
}
