.warning-message-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
  min-width: 330px;
  max-width: 500px;
  margin-top: 20px;
  padding: 15px 20px;

  border: 1px solid #ff9800;
  border-radius: 10px;

  background-color: #fff3e0;
  color: #424242;
  font-size: 0.8rem;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.warning-message-wrapper::before {
  content: "⚠️";
  margin-right: 10px;
  font-size: 2rem;
}

.warning-message-content {
  text-wrap: pretty;
}
